body {
	font-family: sans-serif;
	width: 90%;
}

.container {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px 20px;
	padding: 20px;
}

.animal {
	font-size: 20px;
}

.rabbit {
	color: red;
	font-style: italic;
}

.turtle {
	color: #009900;
	font-weight: bold;
}

.btn {
	display: block;
	width: 100px;
	height: 50px;
	cursor: pointer;
	font-size: 30px;
	color: white;
	background-color: #217bce;

	margin: 10px;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
}

.btn:hover {
	background-color: #175690;
}

.btn-next {
	margin: 5% 0 0 90%;
}

.btn-prev {
	margin-top: 5%;
}

#page-2 {
	display: none;
}

@-webkit-keyframes rabbit-running {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: 60%;
	}
	90% {
		margin-left: 60%;
	}
	100% {
		margin-left: 90%;
	}
}

@-moz-keyframes rabbit-running {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: 60%;
	}
	90% {
		margin-left: 60%;
	}
	100% {
		margin-left: 90%;
	}
}

@-o-keyframes rabbit-running {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: 60%;
	}
	90% {
		margin-left: 60%;
	}
	100% {
		margin-left: 90%;
	}
}
@keyframes rabbit-running {
	0% {
		margin-left: 0;
	}
	30% {
		margin-left: 60%;
	}
	90% {
		margin-left: 60%;
	}
	100% {
		margin-left: 90%;
	}
}

@-webkit-keyframes turtle-running {
	0% {
		margin-left: 0;
	}
	90% {
		margin-left: 90%;
	}
	100% {
		margin-left: 90%;
	}
}
@-moz-keyframes turtle-running {
	0% {
		margin-left: 0;
	}
	90% {
		margin-left: 90%;
	}
	100% {
		margin-left: 90%;
	}
}
@-o-keyframes turtle-running {
	0% {
		margin-left: 0;
	}
	90% {
		margin-left: 90%;
	}
	100% {
		margin-left: 90%;
	}
}

@keyframes turtle-running {
	0% {
		margin-left: 0;
	}
	90% {
		margin-left: 90%;
	}
	100% {
		margin-left: 90%;
	}
}

#turtle {
	position: absolute;
	bottom: 100px;
	-webkit-animation: turtle-running 5s 1 linear forwards;
	-moz-animation: turtle-running 5s 1 linear forwards;
	-o-animation: turtle-running 5s 1 linear forwards;
	animation: turtle-running 5s 1 linear forwards;

}

#rabbit {
	position: absolute;
	bottom: 0;
	-webkit-animation: turtle-running 5s 1 linear forwards;
	-moz-animation: turtle-running 5s 1 linear forwards;
	-o-animation: turtle-running 5s 1 linear forwards;
	animation: rabbit-running 5s 1 linear forwards;
}

#tree {
	position: absolute;
	right: 25%;
	z-index: -1;
}

.race-scene {
	position: relative;
	min-height: 400px;
	background: url("./images/tree.png") no-repeat 75% 0 / 300px auto;
}
